.add-interface {
  display: flex;
  position: relative;
  width: 17%;
  height: 512px;

  .animation-player {

    &__cnt-FPS {
      display: flex;
      align-items: center;

      .cnt-FPS {
        margin-right: 15px;
      }
    }
  }
}