html {
  background-color: #525252;
}

.main {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 512px;
  background-color: #999;
}

.property {
  
  &__coord {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}